@import "tailwindcss";

* {
    box-sizing: border-box;
}
  
:root {
    --primary-purple-color: #5E2FD2;   
    --secondary-purple-color: #A597F6; 
    --background-color-dark: #100914;
    --orange-light-color: #F18646;
    --orange-color: #ED6622;
    --text-color-dark: #FFFFFF;
    --font-family: "DM sans", "Inter", sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    line-height: 1.6;
    background-size: cover;
    overflow-x: hidden; 
    width: 100vw
}

/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--background-color-dark);
    border-bottom: solid 1px #392E39;
    width: 100%;
    top:0;
    left: 0;    
    nav{
        width: 100%;
        ul{
            display: flex;
            list-style: none;
            justify-content: flex-end;
            align-items: center;
            li{
                margin-right: 3rem;
                a{
                    text-decoration: none;
                    color: var(--text-color-dark);
                    font-size: 1rem;
                    padding: 5px 15px;
                    border-radius: 10px;
                    &:hover{
                        background-color: #2f1b3a;
                    }
                }
            }
        }
    }
}

/*Buttons*/

.btn{
    background-color: var(--primary-purple-color);
    color: var(--text-color-dark);
    font-weight: 600;
    font-size: 1rem;
    padding: 11px 30px;
    border-radius: 24px;
    border: none;
    stroke: var(--primary-purple-color);
    cursor: pointer;
    box-shadow: -1px 2px 0px 0px rgba(86,35,189,0.75);
    -webkit-box-shadow: -1px 2px 0px 0px rgba(86,35,189,0.75);
    -moz-box-shadow: -1px 2px 0px 0px rgba(86,35,189,0.75);
    .icon {
        margin-left: 8px;
    }
    &:hover{
        background-color: #7044DA;
        
    }
}

.btn-icon{
    padding: 15px;
    width: 2.7rem;
    height: 2.7rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid var(--secondary-purple-color);
    color: var(--secondary-purple-color);
    background-color: transparent;
    cursor: pointer;
    &:hover{
        background-color:#260d35e0 ;
        color: var(--text-color-dark);
        border: 2px solid var(--text-color-dark);
    }
}

/*Circles*/ 

.circle-background {
    position: absolute;  
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 33vw; 
    height: 30vw;
    border-radius: 50%;
    background: radial-gradient(circle farthest-corner at center center, 
      #f2793d 0%, #e96423 14%, #cf5828 33%, #331048 65%, #331048 83%, #100914 100%);
    filter: blur(35px);
    z-index: -1; 
    overflow: hidden;
}

.circle-background-2{
    position: absolute;  
    top: 70%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 20vw; 
    height: 20vw;
    border-radius: 50%;
    background: radial-gradient(circle farthest-corner at center center, 
      #f2793d 25%, #e96423 14%, #cf5828 23%, #100914 57%);
    filter: blur(35px);
    z-index: -1; 
    overflow: hidden;
}

.blur-shadow{
    box-shadow: -3px 3px 29px 25px rgba(43,21,37,0.75);
    -webkit-box-shadow: -3px 3px 29px 25px rgba(43,21,37,0.75);
    -moz-box-shadow: -3px 3px 29px 25px rgba(43,21,37,0.75);
}

.blur-orange-shadow{
    box-shadow: -14px 14px 22px -10px rgba(241,134,70,0.75);
    -webkit-box-shadow: -14px 14px 22px -10px rgba(241,134,70,0.75);
    -moz-box-shadow: -14px 14px 22px -10px rgba(241,134,70,0.75);
}
 


  




  
  
  

  

  



  